/*FONTS============================================================*/

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Black.ttf");
  font-weight: 900;
}

/*=================================================================*/

/*  COMMON STYLES==================================================*/
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  -moz-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

body {
  font-family: "Lato", sans-serif;
}

.transition_disabled {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

._heading-main-font {
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 83px;
  font-feature-settings: 'liga' off;
  color: #000000;
}

._paragraph-main-font {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.8);
}

._second-heading-main-font {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #2e6455;
}

._third-heading-main-font {
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #3B71FD;
}

._margin-top-60 {
  margin-top: 60px;
}

._margin-top-28 {
  margin-top: 28px;
}

._margin-top-24 {
  margin-top: 24px;
}

._margin-top-17 {
  margin-top: 17px;
}

._margin-top-50 {
  margin-top: 50px;
}

._margin-left-115 {
  margin-left: 115px;
}

._margin-left-50 {
  margin-left: 90px;
}

section {
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 100%;

}

.wrapper-index-page {
  height: 100vh;
}

a:hover {
  text-decoration: none;
}

.__app-store-download-button {
  max-width: 285px;
  z-index: 100 !important;
}

._app-store-btn {
  padding: 0 !important;
  z-index: 100;
}
/*=================================================================*/
.header__slogan-wrapper {
  display: flex;
}

.header_padding {
  padding-top: 260px;
  padding-bottom: 338px;
}

.header__banner-img-wrapper {
  /* position: relative; */
  width: 100%;
}

.header__banner-img {
  width: 708px;
  position: absolute;
  top: -39%;
    left: -34%;
}

.header__logo {
  max-width: 52px;
  float: left;
  margin-top: 17px;
  filter: drop-shadow(0px 0px 13.0734px rgba(155, 139, 255, 0.25));
}

.header__heading {
  margin-bottom: 17px;
  font-weight: 800 !important;
}

.header__paragraph {
  margin-bottom: 69px;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  font-feature-settings: 'liga' off;
  color: #000000;
  opacity: 0.8;
  width: 485px;
}

.footer_padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer_background {
  background: rgba(59, 113, 253, 0.3);
}

.terms-footer__terms,
.terms-footer__terms > a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: 'liga' off;
  color: #000000;
}

.terms-footer__terms > a:first-child {
  margin-right: 32px;
}

.terms-footer__terms > a:hover {
  text-decoration: underline;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  font-feature-settings: 'liga' off;
  color: #000000;
}

.terms-policy__text-wrapper {
  width: 994px;
  margin-left: auto;
  margin-right: auto;
}

.footer__terms-policy {
  margin-top: 91px;
  padding-bottom: 50px;
}

.footer__terms-policy-links,
.footer__terms-policy-links > a {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #15382f;
}

.footer__terms-policy-links > a:hover {
  text-decoration: underline;
}

.terms-policy {
  padding-top: 115px;
  padding-bottom: 90px;
}

.terms-policy__main-heading_font {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  color: #3B71FD;
}

.header__terms-policy {
  padding-top: 26px;
}

.header__terms-policy-cleaner-logo {
  width: 95px;
  height: 95px;
  filter: drop-shadow(0px 0px 13.0734px rgba(155, 139, 255, 0.25));
  
}

.header__terms-policy-logo {
  display: block;
  max-width: 994px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer__terms-policy-links {
  max-width: 994px;
  margin-left: auto;
  margin-right: auto;
}

.policy-list__style > li::before {
  content: "•";
  margin-right: 25px;
}

.error-404 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 127.5%;
  letter-spacing: 0.075em;
  color: #3B71FD;
}

.error-text {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #3B71FD;
}

.error__wrapper {
  text-align: center;
}

.error-block-404 {
  padding-top: 123px;
  height: 90vh;
}

.not-found {
  margin-bottom: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 69px;
  line-height: 83px;
  text-align: center;
  color: #3B71FD;
}

.error-block-button {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #FFA931;
  border-radius: 24px;
  margin-top: 60px;
  width: 260px;
  height: 70px;
}

.header__404 {
  padding-top: 72px !important;
}

.error-block-button:hover {
  color: #2E6455;
}

.terms-policy-footer-wrapper-for-width {
  width: 994px;
}

.header {
  min-height: calc(100vh - 74px);
}


